.sidebar{
	position: fixed;
	top: 0;
	left: -50%;
	width: 50%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	transition: 0.5s;
	z-index: 100;
}
.toggle{
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: -80px;
	width: 80px;
	height: 80px;
	background: #fd0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.toggle:before{
	content:"";
	position: relative;
	left: 0;
	width: 30px;
	height: 30px;
	border-top: 4px solid #000;
	border-right: 4px solid #000;
	transform: rotate(45deg);
	transition:  0.5s;
}
.sidebar.active .toggle:before{
	transform: rotate(225deg);
	left: 10px;
}
.sidebar.active{
	left: 0%;
}
.sidebar ul{
	margin: 0;
	padding: 5%;
	transition: 0.5s;
}
.sidebar ul li{
	list-style: none;
}
.sidebar ul li a{
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 1.5em;
	text-decoration: none;
	padding: 0 20px 10px;
	z-index: 100;
	transition: 0.5s;
	text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.sidebar ul li a:hover{
	letter-spacing: 5px;
	transform: translateX(20px);
}
.sidebar ul li a:before{
	content: '';
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 20%;
	background: #ffb3ff;
	z-index: 100;
	transform: scaleX(0);
	transform-origin: right;
	transition: 0.5s;
}
.sidebar ul li a:hover:before{
	transform: scaleX(1);
	transform-origin: right;
	transition: 0.5s;
}
.sidebar p{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px;
	color: #fff;
	transition: 0.5s;
	transform: scaleY(0);
}
.sidebar.active p,ul,li,a{
	transform: scaleY(1);
	transform-origin: bottom;
	transition: 1s;
}
footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100vw;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
  
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .sidebar .toggle a,p{
		font-size: 11px;
	}
	.toggle li{
		margin-left: 4px;
	}
	.toggle{
		background: transparent;
	}
}