{% extends 'layout.html' %}

{% block head %}
  <link rel="stylesheet" href="static/give_test.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
  <style>
    body{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    }
  </style>
  
{% endblock %}

{% block body %}
{% from "_formhelpers.html" import render_field %}
<div class="container" align="center" id="login">
  <div class="row">
    <div class="col-sm">
      <h1>Login</h1>
    </div>
  </div>
  <div class="login-box well">
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.password, class="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" id="submit" value="Submit"></p>
  </form>
 
</div>

<div style="padding: 5%">
 <div class="card text-white bg-info mb-3" >
<div class="card-header">General Insctructions</div>
 <div class="card-body">

  <ol  >
    
      <li>Please make sure you Enter full screen mode before attempting the test otherwise you won't be able to see the questions</li>
      <li style="align-self: left">Use F11 to enter full screen</li>
      <li >Duration of the test is {{data['duration']}} </li>
      <li>Marks for each question is {{data['marks']}}</li>
      <li>negative marks are {{data['negmarks']}}</li>
      <li>Start time is {{data['start']}}</li>
      <li>End time is {{data['end']}}</li>
    
    


  </ol>
  

 </div>
</div>
</div>
</div>

{% endblock %}