{% extends 'layout.html' %}

{% block head %}
  <link rel="stylesheet" href="static/give_test.css">
  <link rel= "stylesheet" type= "text/css" href= "
https://bootswatch.com/4/materia/bootstrap.min.css">

  {% endblock %}

{% block body %}

<div class="card bg-light mb-3" style="float: center">
<div class="card-header">Video Feed</div>
 <div class="card-body">

 	<p>
 		Please enter full screen mode otherwise you won't be able to see questions

 	</p>
 	

 </div>
</div>
</div>


  {% endblock %}