{% extends 'layout.html' %}

{% block body %}
<div  >
  

<div class="card border-primary mb-3" style="max-width: 20rem;fposition: relative;float: top;">
  <div class="card-header">Video Feed</div>
  <div class="card-body">
    <video id="video" width="180" height="140" autoplay muted style="float: center;"></video>
  </div>
    <script type="text/javascript" src={{url_for('static', filename='face-api.min.js')}}></script>

<script type="text/javascript" src={{url_for('static', filename='procto.js')}}>

</script>

</div>


<div id="time">{{duration}}</div>



<div class="card bg-light mb-3" style="float: center">
  <div id='queid' style="float: left;">Question No.</div>
  <div id='mark' style="float: right">Marks: {{ marks }}</div>
  
  <div class="card-body">
    <pre class="prettyprint" id="pretest">
  <p id="que" style="">{{ q }}</p>
</pre>
    </div>



<table id="options">
  <tr>
    <td id='a'>𝐀. {{ a }}</td>
    <td id='b'>𝐁. {{ b }}</td>
  </tr>
  <tr>
    <td id='c'>𝐂. {{ c }}</td>
    <td id='d'>𝐃. {{ d }}</td>
  </tr>
  
</table>


<div id="overlay">
  <div class="container" id="question-list">
  </div>
</div>
<div id="submit-overlay"></div>

<footer class="page-footer fixed-bottom pt-4">
  <div class="container">

    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <button class="btn btn-primary btn-rounded" id="questions">Questions</button>
        <button class="btn btn-primary btn-rounded" id="clr">Clear Input</button>
        <input type="button" value="Prev" id="prev" class="btn btn-primary btn-rounded">
        <input type="button" value="Next" id="next" class="btn btn-primary btn-rounded">
        <input type="button" value="Save and Next" id="submit" class="btn btn-success btn-rounded">
        <button class="btn btn-primary btn-rounded" id="bookmark">Bookmark</button>
        <div class="btn btn-success" id="finish">Finish Test</div>
      </li>
    </ul>
  </div>
</footer>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='disp.css') }}">
<link rel= "stylesheet" type= "text/css" href= "
https://bootswatch.com/4/materia/bootstrap.min.css">

{% endblock %}