{% extends 'layout.html' %}

{% block head %}
  <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
  <style>
    body{
      background-image: url('../static/im.jpg');
      background-attachment: fixed;
      background-position: center;
      background-size: cover;

    }
    .jumbotron{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-image: url('../static/im.jpg');
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block body %}

  <h1 align="center">Welcome {{session.user|title}}</h1>
 

<div class="jumbotron">
  <table class="table table-hover">
  <thead>

    <tr>
      <th scope="col">Subject</th>
      <th scope="col">Title</th>
      <th scope="col">Duration</th>
      <th scope="col">Test Start</th>
      <th scope="col">Test End</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for test in tests %}
                <tr>
                    <td>{{test['subject']}}</td>
                    <td>{{test['topic']}}</td>
                    <td>{{test['duration']/60}} min</td>
                    <td>{{test['start']}}</td>
                    <td>{{test['end']}}</td>
                    <td><a class="btn btn-primary" href="{{url_for('give_test',val=test.test_id)}}">Take Quiz</a></td>
                </tr>
            {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
